.{$pf}border {
  border: 1px solid $color-border-default
}
.{$pf}border-t {
  border-top: 1px solid $color-border-default  
} 
.{$pf}border-r {
  border-right: 1px solid $color-border-default  
} 
.{$pf}border-b {
  border-bottom: 1px solid $color-border-default  
} 
.{$pf}border-l {
  border-left: 1px solid $color-border-default  
} 
.{$pf}border-tb {
  border-top: 1px solid $color-border-default  
  border-bottom: 1px solid $color-border-default  
} 
.{$pf}border-lr {
  border-left: 1px solid $color-border-default  
  border-right: 1px solid $color-border-default  
} 