for row in 0 2 5 10 15 20 25 30{
  .{$pf}margin-l-{row}{
    margin-left: 1px * row !important;
  }
  .{$pf}margin-r-{row}{
    margin-right: 1px * row !important;
  }
  .{$pf}margin-t-{row}{
    margin-top: 1px * row !important;
  }
  .{$pf}margin-b-{row}{
    margin-bottom: 1px * row !important;
  }
  .{$pf}margin-tb-{row}{
    margin-bottom: 1px * row !important;
    margin-top: 1px * row !important;
  }
  .{$pf}margin-lr-{row}{
    margin-left: 1px * row !important;
    margin-right: 1px * row !important;
  }
  .{$pf}margin-{row}{
    margin: 1px * row !important;
  }
  .{$pf}padding-l-{row}{
    padding-left: 1px * row !important;
  }
  .{$pf}padding-r-{row}{
    padding-right: 1px * row !important;
  }
  .{$pf}padding-t-{row}{
    padding-top: 1px * row !important;
  }
  .{$pf}padding-b-{row}{
    padding-bottom: 1px * row !important;
  }
  .{$pf}padding-tb-{row}{
    padding-bottom: 1px * row !important;
    padding-top: 1px * row !important;
  }
  .{$pf}padding-lr-{row}{
    padding-left: 1px * row !important;
    padding-right: 1px * row !important;
  }
  .{$pf}padding-{row}{
    padding: 1px * row !important;
  }
}

for row in (-main -default -white -success -error) {
  .{$pf}font{row}{
    color: lookup('$color-font'+row) !important
  }
}

for row in (-main -default -white) {
  .{$pf}bg{row}{
    background-color: lookup('$color-font'+row) !important
  }
}

.{$pf}float-left {
  float: left  
}
.{$pf}float-right {
  float: right  
}

.{$pf}text-left {
  text-align: left !important
}
.{$pf}text-right {
  text-align: right !important
}
.{$pf}text-center {
  text-align: center !important
}
.{$pf}vertical-center {
  position: relative
  top: 50%
  transform: translateY(-50%)  
}

.{$pf}scroll {
  overflow: auto !important
}
.{$pf}scroll-y {
  overflow-y: auto !important
}
.{$pf}scroll-x {
  overflow-x: auto !important
}
.{$pf}hidden {
  overflow: hidden  
}