.{$pf}panel {
  @extend .{$pf}border
  box-shadow: 1px 1px 20px rgba(0,0,0,.1)
  header {
    padding: 15px 0
    background-color: #F8F8F8
    @extend .{$pf}border-b
  }
  section {
    padding: 20px
  }
  footer {
    padding: 15px 0
    @extend .{$pf}border-t
    a {
      color: $color-font-main
    }
  }
}