.{$pf}table {
  display: table
  width: 80%
  border-radius: 2px
  & > * {
    display: table-cell
    float: none
    vertical-align: middle
    overflow: visible !important
    border-width: 0px !important
  }
  & > *:first-child {
    border-right: 1px solid $color-border-default !important  
  }
}