$pf = 'd-'
$module = 'module-'

/*颜色*/
$color-border-default = #eeeeee
$color-border-main = #3498db
$color-border-white = #ffffff

$color-font-default = #333333
$color-font-main = #3498db
$color-font-white = #ffffff
$color-font-success = #5FB878
$color-font-error = #FF5722

$color-bg-default = #f4f4f4
$color-bg-main = #3498db
$color-bg-white = #ffffff