.layui-body {
  overflow-y: hidden
}
.layui-layout-admin .layui-body {
  bottom: 0px  
}
.layui-footer {
  position: fixed
  left: 0
  right: 0
  bottom: 0
  background: $color-bg-default
  z-index: 10
  padding: 15px 0
  & + div {
    margin-bottom: 80px  
  }
}
.layui-form-pane .layui-input .layui-form-switch,
.layui-form-pane .layui-input .layui-form-radio {
  margin-left: 0  
}