.layui-body {
  overflow-y: hidden
}
.layui-layout-admin .layui-body {
  bottom: 0px  
}
.layui-footer {
  position: fixed
  left: 0
  right: 0
  bottom: 0
  background: $color-bg-default
  z-index: 10
  padding: 15px 0
  & + div {
    margin-bottom: 80px  
  }
}
.layui-form-pane .layui-input .layui-form-switch,
.layui-form-pane .layui-input .layui-form-radio {
  margin-left: 0  
}

.layui-input-block .upload {
  position: absolute
  right: 0
  top: 0
  & ~ .layui-input {
    padding-right: 120px
  }
}

// 自适应正方形图片
.layui-row {
  .square {
    width:100%
    padding-bottom: 100%
    height: 0
    position: relative
    & > img {
      position: absolute
      width:100%
      height:100%
      object-fit: cover
      display: block
    }
    & > .mask {
      padding: 5px 10px
      position: absolute
      bottom: 0
      left: 0
      right: 0
      background: rgba(0, 0, 0, 0.6)
      a {
        color: $color-font-white
        font-size: 12px
        i {
          vertical-align: bottom
        }
      }
    }
  } 
}